<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self'; font-src 'self';"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Header set X-Frame-Options "SAMEORIGIN"
    Header always unset X-Powered-By
    Header set X-Content-Type-Options "nosniff"
</IfModule>